In [2]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [3]:
#read csv of reviews from 2022
tiktok_rv = pd.read_csv("../Resources/tiktok_google_play_reviews.csv", low_memory = False)
tiktok_rv

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,68ccaec8-1415-4301-a85e-3004679a3a83,Cassie Moore,https://play-lh.googleusercontent.com/a/ALm5wu...,No words,5,0,27.1.3,2022-11-29 21:55:37,NaN,NaN
1,d84cbfd3-6aa3-485c-aaf9-c5dca27dc966,Kaleb Plummer,https://play-lh.googleusercontent.com/a-/ACNPE...,Great fun app so far!,5,0,NaN,2022-11-29 21:55:04,NaN,NaN
2,96618aa1-31e5-4259-8649-89b75d962f00,Rylee Maher,https://play-lh.googleusercontent.com/a/ALm5wu...,The app would get a higher rating but I litera...,1,0,27.1.3,2022-11-29 21:54:48,NaN,NaN
3,078c0bda-598b-474e-a04e-d7cb3e6f6301,Kittykatelyn Romilly,https://play-lh.googleusercontent.com/a-/ACNPE...,I WISH I COULD GIVE THIS A 100 PERCENT RATING ...,5,0,NaN,2022-11-29 21:54:35,NaN,NaN
4,8e68c5cd-b12a-4206-a8da-6bfdbff44ae3,Loveness Malenga,https://play-lh.googleusercontent.com/a-/ACNPE...,Pictures and record,5,0,NaN,2022-11-29 21:54:21,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
460282,73cf78fe-599d-4488-8a8b-ae443847303b,hera killar,https://play-lh.googleusercontent.com/a-/ACNPE...,üòçüòç,5,0,NaN,2022-06-18 12:35:32,NaN,NaN
460283,16d331c8-ba21-4aeb-ac01-dec455ca48ad,Hiox Softwares,https://play-lh.googleusercontent.com/a/ALm5wu...,Very nice,1,0,NaN,2022-06-18 12:35:25,NaN,NaN
460284,fbb86777-b885-4f76-b49e-13e424aa5afc,Md. Zahid Hasan,https://play-lh.googleusercontent.com/a-/ACNPE...,Nice,5,0,24.8.3,2022-06-18 12:34:39,NaN,NaN
460285,28df682c-bb17-4224-8658-642a92a2c723,Ash Ryan,https://play-lh.googleusercontent.com/a-/ACNPE...,TikTok love your sad,5,0,NaN,2022-06-18 12:34:38,NaN,NaN
460286,1cfbb2b3-fb0b-4f4b-8963-9e2b803f24dc,Haroon Jaan,https://play-lh.googleusercontent.com/a/ALm5wu...,Good to use haroon_231,5,0,24.8.3,2022-06-18 12:34:32,NaN,NaN

In [63]:
#read csv of reviews from 2015-2021
tiktok_rv2 = pd.read_csv("../Resources/tiktok_app_reviews.csv", low_memory = False)
tiktok_rv2

,review_id,review_text,upvotes,app_version,posted_date
0,gp:AOqpTOGSsGv5rOA79ttW2LE0FeMYvkdUuXRMTfbyMk0...,It is an excellent solution to finding videos ...,402,21.2.5,2021-09-20 07:50:23
1,gp:AOqpTOEDQ9__FJihY_0V4iwqy4P2OK8tGVR1tFBixYb...,Great app works really well so many features s...,67,21.2.5,2021-09-19 23:10:47
2,gp:AOqpTOEGEfr8TL0iKTlpbTDeM8P7HywlMmP9CkHMoaT...,I down loaded app but didnt work . i love this...,24,21.2.5,2021-09-19 08:59:34
3,gp:AOqpTOGZBDl9dpghmb43Mx1tnlWCOjNXyuVn5Mxf49c...,IT A GREAT APP AND FUN TO USE! HOWEVER ARBITRA...,18,21.2.5,2021-09-19 16:34:43
4,gp:AOqpTOFioH3wud_JnC4aPCG4p7s5DEEN2yZAWNXdRJj...,Currently it's working good for me except a fe...,232,21.1.41,2021-09-14 06:35:02
...,...,...,...,...,...
3646471,gp:AOqpTOEEOr8NzYiOHyv78HwG4RtMidvhF0T8Av8cV94...,Nicr,0,NaN,2021-07-28 19:06:32
3646472,gp:AOqpTOGyGnaNxjtd_frHLZSSDEkRo80vUrqsZ1kaSk1...,wow,0,NaN,2019-05-06 03:59:08
3646473,gp:AOqpTOGxyWD7luZFV-i4ZMj-x6UWrVle67pnwx-Klzx...,tq,0,NaN,2019-04-11 09:20:53
3646474,gp:AOqpTOEdh8QQ3HTkcuZZPQnTLZTpk6d49pGB9_Zx0nO...,Owsm,0,NaN,2019-09-14 04:13:30
3646475,gp:AOqpTOEbcTyAsdBIJDmV9AgErmyPYiIHOp4QtLrq9qt...,niceapps,0,NaN,2021-08-04 14:37:54

In [5]:
#create new columns with date and time separate as well as year
tiktok_rv2['Dates'] = pd.to_datetime(tiktok_rv2['posted_date']).dt.date
tiktok_rv2['Time'] = pd.to_datetime(tiktok_rv2['posted_date']).dt.time
tiktok_rv2['Year'] = pd.to_datetime(tiktok_rv2['posted_date']).dt.strftime('%Y')

In [9]:
#create new columns with date and time separate as well as year
tiktok_rv['Dates'] = pd.to_datetime(tiktok_rv['at']).dt.date
tiktok_rv['Time'] = pd.to_datetime(tiktok_rv['at']).dt.time
tiktok_rv['Year'] = pd.to_datetime(tiktok_rv['at']).dt.strftime('%Y')

In [6]:
#create new df with just reviews from 2015
tiktok_2015 = tiktok_rv2[tiktok_rv2['Year']=='2015']
tiktok_2015

,review_id,review_text,upvotes,app_version,posted_date,Dates,Time,Year
3162126,gp:AOqpTOGeRe1XvXUB_2MJjYapn2E9A1_TEZ_YBOp9ntl...,I üíò it so much and it is fun to be on i thing ...,69,4.5.2,2015-12-26 16:30:17,2015-12-26,16:30:17,2015
3162127,gp:AOqpTOGW-LWhXNV4PAg_QREAaeNuiJRM2ZQ9lpZ6NFX...,It is so awesome when ever I do my videos they...,7,4.5.2,2015-12-31 01:13:59,2015-12-31,01:13:59,2015
3162133,gp:AOqpTOHD055jj4ibu_VY_B6a-ZkdkWKUCcNqYggH2jF...,I new here and im excited,5,4.5.2,2015-12-27 10:47:15,2015-12-27,10:47:15,2015
3162135,gp:AOqpTOH-HLGzZunkaNbVK-O_TeHZJePlT21hv1JUYSU...,Looooooooove,6,4.5.2,2015-12-30 00:18:05,2015-12-30,00:18:05,2015
3162142,gp:AOqpTOEDs1aaeklmKtpSSBO5HcOwOwKGjbdWGKp8xc3...,Amazing,2,4.5.2,2015-12-29 14:22:47,2015-12-29,14:22:47,2015
...,...,...,...,...,...,...,...,...
3641666,gp:AOqpTOF7iRi2M2KAAzz0HCIE243oMGQZ9graYVqLAAt...,Okay,0,NaN,2015-10-15 09:57:16,2015-10-15,09:57:16,2015
3643214,gp:AOqpTOHrvGb0Du8ENelSozfpJzO7P3R2PEllXTIvKH0...,Asome,0,NaN,2015-12-31 02:36:34,2015-12-31,02:36:34,2015
3643764,gp:AOqpTOEEl9LGf8mJqCZePeVwHYWZfzQJEB6PtghY--v...,Mmmmgood,0,NaN,2015-12-18 06:23:22,2015-12-18,06:23:22,2015
3644388,gp:AOqpTOHQIbchhBP45e_sdIpYg29L0yKa-yqUf3Jc7ef...,niccccccccccccce,0,NaN,2015-10-18 03:44:27,2015-10-18,03:44:27,2015
3645443,gp:AOqpTOFb5W9LvQsTkeFDDMln2brWXnjI7aaF9-MikYD...,Like it,0,NaN,2015-12-24 06:56:20,2015-12-24,06:56:20,2015

In [ ]:
#create new df with just reviews from 2016
tiktok_2016 = tiktok_rv2[tiktok_rv2['Year']=='2016']

In [ ]:
#create new df with just reviews from 2017
tiktok_2017 = tiktok_rv2[tiktok_rv2['Year']=='2017']

In [ ]:
#create new df with just reviews from 2018
tiktok_2018 = tiktok_rv2[tiktok_rv2['Year']=='2018']

In [7]:
#create new df with just reviews from 2019
tiktok_2019 = tiktok_rv2[tiktok_rv2['Year']=='2019']

In [8]:
#create new df with just reviews from 2020
tiktok_2020 = tiktok_rv2[tiktok_rv2['Year']=='2020']

In [9]:
#create new df with just reviews from 2021
tiktok_2021 = tiktok_rv2[tiktok_rv2['Year']=='2021']

In [8]:
tiktok_15_21 = tiktok_rv2[['review_id','Year']].copy()
tiktok_15_21

                                                 review_id  Year
0        gp:AOqpTOGSsGv5rOA79ttW2LE0FeMYvkdUuXRMTfbyMk0...  2021
1        gp:AOqpTOEDQ9__FJihY_0V4iwqy4P2OK8tGVR1tFBixYb...  2021
2        gp:AOqpTOEGEfr8TL0iKTlpbTDeM8P7HywlMmP9CkHMoaT...  2021
3        gp:AOqpTOGZBDl9dpghmb43Mx1tnlWCOjNXyuVn5Mxf49c...  2021
4        gp:AOqpTOFioH3wud_JnC4aPCG4p7s5DEEN2yZAWNXdRJj...  2021
...                                                    ...   ...
3646471  gp:AOqpTOEEOr8NzYiOHyv78HwG4RtMidvhF0T8Av8cV94...  2021
3646472  gp:AOqpTOGyGnaNxjtd_frHLZSSDEkRo80vUrqsZ1kaSk1...  2019
3646473  gp:AOqpTOGxyWD7luZFV-i4ZMj-x6UWrVle67pnwx-Klzx...  2019
3646474  gp:AOqpTOEdh8QQ3HTkcuZZPQnTLZTpk6d49pGB9_Zx0nO...  2019
3646475  gp:AOqpTOEbcTyAsdBIJDmV9AgErmyPYiIHOp4QtLrq9qt...  2021

[3646476 rows x 2 columns]

In [12]:
tiktok_22 = tiktok_rv[['reviewId','Year']].copy()
tiktok_22

                                    reviewId  Year
0       68ccaec8-1415-4301-a85e-3004679a3a83  2022
1       d84cbfd3-6aa3-485c-aaf9-c5dca27dc966  2022
2       96618aa1-31e5-4259-8649-89b75d962f00  2022
3       078c0bda-598b-474e-a04e-d7cb3e6f6301  2022
4       8e68c5cd-b12a-4206-a8da-6bfdbff44ae3  2022
...                                      ...   ...
460282  73cf78fe-599d-4488-8a8b-ae443847303b  2022
460283  16d331c8-ba21-4aeb-ac01-dec455ca48ad  2022
460284  fbb86777-b885-4f76-b49e-13e424aa5afc  2022
460285  28df682c-bb17-4224-8658-642a92a2c723  2022
460286  1cfbb2b3-fb0b-4f4b-8963-9e2b803f24dc  2022

[460287 rows x 2 columns]

In [23]:
tiktok_15_21 = tiktok_15_21.rename(columns={"review_id": "rvID"})
tiktok_15_21

                                                      rvID  Year
0        gp:AOqpTOGSsGv5rOA79ttW2LE0FeMYvkdUuXRMTfbyMk0...  2021
1        gp:AOqpTOEDQ9__FJihY_0V4iwqy4P2OK8tGVR1tFBixYb...  2021
2        gp:AOqpTOEGEfr8TL0iKTlpbTDeM8P7HywlMmP9CkHMoaT...  2021
3        gp:AOqpTOGZBDl9dpghmb43Mx1tnlWCOjNXyuVn5Mxf49c...  2021
4        gp:AOqpTOFioH3wud_JnC4aPCG4p7s5DEEN2yZAWNXdRJj...  2021
...                                                    ...   ...
3646471  gp:AOqpTOEEOr8NzYiOHyv78HwG4RtMidvhF0T8Av8cV94...  2021
3646472  gp:AOqpTOGyGnaNxjtd_frHLZSSDEkRo80vUrqsZ1kaSk1...  2019
3646473  gp:AOqpTOGxyWD7luZFV-i4ZMj-x6UWrVle67pnwx-Klzx...  2019
3646474  gp:AOqpTOEdh8QQ3HTkcuZZPQnTLZTpk6d49pGB9_Zx0nO...  2019
3646475  gp:AOqpTOEbcTyAsdBIJDmV9AgErmyPYiIHOp4QtLrq9qt...  2021

[3646476 rows x 2 columns]

In [22]:
tiktok_22 = tiktok_22.rename(columns={"reviewId": "rvID"})
tiktok_22

                                        rvID  Year
0       68ccaec8-1415-4301-a85e-3004679a3a83  2022
1       d84cbfd3-6aa3-485c-aaf9-c5dca27dc966  2022
2       96618aa1-31e5-4259-8649-89b75d962f00  2022
3       078c0bda-598b-474e-a04e-d7cb3e6f6301  2022
4       8e68c5cd-b12a-4206-a8da-6bfdbff44ae3  2022
...                                      ...   ...
460282  73cf78fe-599d-4488-8a8b-ae443847303b  2022
460283  16d331c8-ba21-4aeb-ac01-dec455ca48ad  2022
460284  fbb86777-b885-4f76-b49e-13e424aa5afc  2022
460285  28df682c-bb17-4224-8658-642a92a2c723  2022
460286  1cfbb2b3-fb0b-4f4b-8963-9e2b803f24dc  2022

[460287 rows x 2 columns]

In [24]:
#combine tiktok_22 with tiktok_15_21 to get all reviews from 2015-2022
df2 = pd.concat([tiktok_15_21, tiktok_22])
df2

                                                     rvID  Year
0       gp:AOqpTOGSsGv5rOA79ttW2LE0FeMYvkdUuXRMTfbyMk0...  2021
1       gp:AOqpTOEDQ9__FJihY_0V4iwqy4P2OK8tGVR1tFBixYb...  2021
2       gp:AOqpTOEGEfr8TL0iKTlpbTDeM8P7HywlMmP9CkHMoaT...  2021
3       gp:AOqpTOGZBDl9dpghmb43Mx1tnlWCOjNXyuVn5Mxf49c...  2021
4       gp:AOqpTOFioH3wud_JnC4aPCG4p7s5DEEN2yZAWNXdRJj...  2021
...                                                   ...   ...
460282               73cf78fe-599d-4488-8a8b-ae443847303b  2022
460283               16d331c8-ba21-4aeb-ac01-dec455ca48ad  2022
460284               fbb86777-b885-4f76-b49e-13e424aa5afc  2022
460285               28df682c-bb17-4224-8658-642a92a2c723  2022
460286               1cfbb2b3-fb0b-4f4b-8963-9e2b803f24dc  2022

[4106763 rows x 2 columns]

In [62]:
df2.sort_values(['Year'],
              ascending = True)

                                                      rvID  Year
3168841  gp:AOqpTOGT85DYViWGgi0YNRcRiIt12R4Eyxm4S5LGfoj...  2015
3192775  gp:AOqpTOGkWE1GrmFKjtNu8Aca3_RyP2ZvQDUWK9Sgsby...  2015
3515450  gp:AOqpTOERxktPZG8VCxQ4iDTmi1IwkuhSN7P1Iiwaz3g...  2015
3162737  gp:AOqpTOGqS2QeNSY-8C1itEy55FBxjfXnU2-JZCs3KHp...  2015
3303153  gp:AOqpTOEFkMH7YIiCv4gfX3q-ijs-q9PoXMPfl7TRSdT...  2015
...                                                    ...   ...
460282                73cf78fe-599d-4488-8a8b-ae443847303b  2022
460283                16d331c8-ba21-4aeb-ac01-dec455ca48ad  2022
460284                fbb86777-b885-4f76-b49e-13e424aa5afc  2022
460063                4434a53c-07d4-46a4-837d-4bd2e6fd4055  2022
460286                1cfbb2b3-fb0b-4f4b-8963-9e2b803f24dc  2022

[4106763 rows x 2 columns]